<center>
<h2> Employee </h2>
<table>
<thead>

<th> name </th> 
<th> dob </th>
<th> gender </th>
<th> hobby </th>
<th> city </th>
<th> address </th>
<th> mobile_no </th>
<th> Action </th>
</thead>
<tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %> </td>
      <td><%= employee.dob %></td>
      <td><%= employee.gender %></td>
      <td><%= employee.hobby %></td>
      <td><%= employee.city %></td>
      <td><%= employee.address %></td>
      <td><%= employee.mobile_no %></td>

      <td><%= button_to "Edit", edit_employee_path(employee.id), method: :get %></td>
      <td><%= button_to "Delete", employee_path(employee.id), method: :delete %></td>
      <td><%= button_to "show", employee_path(employee.id), method: :get %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br><br>
<li><%= link_to "Create New Record ",new_employee_path %></li>
<li><%= link_to "Next page", employees_path(page: @page + 1) %></li>
<li><%= link_to "Previous page", employees_path(page: @page - 1) %></li>
</center>
