<h3> Employee Details </h3>
name:- <%= @employee.name %><br>
dob:- <%= @employee.dob %><br>
gender:- <%= @employee.gender %><br>
hobby:- <%= @employee.hobby %><br>
city:- <%= @employee.city %><br>
address:- <%= @employee.address %><br>
mobile_no:- <%= @employee.mobile_no %>
